.esquerda {
    padding: 0px;
    margin-left: 100px;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color:rgba(200, 200, 200, 0);
    box-shadow: rgba(0, 0, 0, 0) -5px 0px 10px 2px ;
}

.esquerda img{
    width: 40px;
    height: 50px;
    margin: 110px 0px 0px 1px;
}

.direita {
    right: 100px;
    width: 40px;
    height: 106%;
    top: 0px;
    position: absolute;
    background-color:rgba(200, 200, 200, 0);
    box-shadow: rgba(0, 0, 0, 0) 5px 0px 10px 2px ;
}

.direita img{
    width: 40px;
    height: 50px;
    position: absolute;
    margin: 110px 0px 0px -3px;
}

/*Cabecalho*/
.cabecalho{
    background-color: white;    
    position: relative;
    height: 112px;
    padding: 20px 0px 0px 0px ;   
    box-shadow: rgba(0, 0, 0, 0.76) 0px -4px 12px 0px ;  
    margin: 0px 140px 0px 140px;
    }
  
/* Menu */
.menu ul {
    list-style-type: none;
    margin: 0px 140px 5px 140px;
    overflow: hidden;
    padding: 0;
    background-color:rgb(243, 111, 29);
    box-shadow: rgb(55, 22, 0) 0px 5px 10px -3px ;
    border-radius: 4%;
}
  
.menu ul li {
    float: left;}
  
.menu li a {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 13px;
    transition: 0.5s;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;}

  li a:hover {
    color: rgb(0, 0, 0);
    transition: 0.5s;}

.sobre{
    background-color: rgba(234, 86, 37, 0.291);
    border-radius: 20%;
}
      
.submenu2{
    display: none;
    position: absolute;
    background-color:rgb(243, 111, 29);
    min-width: 160px;
    box-shadow: 0px 2px 1px 1px rgba(255, 255, 255, 0.343);
    z-index: 3;
    }
    
.submenu2 a{
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-bottom:1px solid rgba(255, 255, 255, 0.826);
    }
      
.submenu1:hover .submenu2 {
    display: block;
      }     
/*Fim do menu*/

/* corpo da pagina */
.divcorpo{    
    background-color:rgb(255, 255, 255); 
    border: 1px solid rgba(0, 0, 0, 0); 
    margin: auto 140px auto 140px;
    box-shadow: rgba(0, 0, 0, 0.76) 0px -4px 12px 0px ;  
    }    

/*Formulario*/
#regist{
    font-size: 200%;
    text-align: center;
    }

.section-conta {
    width: 350px;
    margin: 0px auto 0px auto;
    
}
 
/*parte de baixo*/
.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 0, 0, 0.159);
    margin: 5px 0px 15px 0px;
  }
.footer a{color:rgb(0, 0, 0); 
    font-size:12px;
    text-decoration: none;
}
.footer a:hover {
    color: rgb(243, 111, 29);
}

.footer h5{
    color:rgb(0, 0, 0);
    font-size: 15px;
    margin-left:auto;
}

.span2{
    color:rgb(0, 0, 0);
    font-size:12px;
}
.footer > div {
    
    margin: 30px;
    text-align: left;
    line-height: 23px;
    font-size: 12px;
    }

